body {
  margin: 0;
  padding: 0;
  background-color: aquamarine;
  color: #fff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.genre-column {
  display: flex;
  flex-direction: column;
  text-align: center;
}
